.center {
    text-align: center;
    background : #F9F3F2;
}
body {
    background-image: url('flower image/afterrainflorist_pj_online_florist_kl_selangor_klang_valley_flower_delivery_service_housewarming_opening_abundant_wealth_phalaenopsis_orchi.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
}


  
    
    

